.cell {
    border: 1px solid black;
    padding: 1px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #f2ede4;
}
.cell:hover {
    background-color: #ffffff;
}
