.ball {
	border: 1px solid var(--main-border-color);
	border-radius: 50%;
	box-sizing: border-box;
}
.red {
	background-color: #c74246;
}
.green {
	background-color: #9ec8a4;
}
.yellow {
	background-color: #f2e9ac;
}
.blue {
	background-color: #88c1f2;
}
.orange {
	background-color: #d97904;
}
